.user-info-con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-profile {
  height: 120px;
}

.user-name {
  font-size: 22px;
  color: #12022f;
}

.user-designation {
  color: #616e7c;
  font-weight: 500;
}
